---
import { getCollection, getEntryBySlug } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";

const globals = await getCollection("global");
const homepageEntry = await getEntryBySlug("global", "homepage");
const { Content } = await homepageEntry.render();
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header title={SITE_TITLE} />
    <main>
      <Content />
    </main>
    <Footer />
  </body>
</html>
